streamlit
streamlit-option-menu
python-docx
pandas
plotly
pillow
python-dotenv
pdfminer.six
nltk
scikit-learn
sqlalchemy
openpyxl
streamlit-lottie
requests
spacy
PyPDF2
python-dotenv
llama-cpp-python
faster-whisper
sounddevice
scipy
pyttsx3
numpy
ctranslate2
sounddevice 
soundfile 
groq
streamlit-webrtc==0.47.1
edge-tts
PyMuPDF