streamlit
streamlit-option-menu
python-docx
pandas
plotly
pillow
python-dotenv
sqlalchemy
openpyxl
streamlit-lottie
requests
spacy
PyPDF2
faster-whisper
sounddevice
scipy
pyttsx3
numpy
ctranslate2
soundfile 
groq
edge-tts
PyMuPDF